<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
         et risus odio. Nulla auctor vulputate iaculis. Nullam non felis urna. Quisque libero tellus, faucibus suscipit nulla id, lacinia rutrum velit. Donec maximus felis nec congue
         tincidunt. Morbi posuere sem ex.</p>
    </div>
</div>