
 <div class="jumbotron mt-4"> 
    <h1 class="display-4">Notes app nodejs and mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur 
    adipiscing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
    elit. Proin malesuada, lectus et congue ultricies, 
    ligula nisi mattis velit, ut fermentum nisi 
    tortor id lorem. Praesent a consequat elit. Ut fringilla.</p>     
    <a href="http://google.com.co" class="btn btn-primary btn-lg">Ir a gogle</a>
</div> 

