<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notes App</title>
    <!--BOOTRAP 4 -->
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
    crossorigin="anonymous">
    
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <p>Navigation</p>

    <!--Esta instruccion sirve para generar cambios solo en el cuerpo del html
    cada vez que cambia de ruta-->
    <main class="container">
    {{{ body }}}
    </main>
    <p>footer</p>
</body>
</html>